extends ../layout

block content
  h1= title
  p Welcome to #{title}
  ul(style="list-style: none;")
    each item in items
      li(style="border: #444 solid 1px; padding: 4px; width: 100%; height: auto; margin: 2px;")
        b= item.title
        p= item.desc
        a(href="/todos/#{item._id}")
          button View
        a(href="/todos/#{item._id}/edit", style="")
          button Edit
        a(href="/todos/#{item._id}/remove", style="")
          button Remove
            
    li(style="border: transparent solid 1px; padding: 4px; width: 100%; height: auto; background: #888 margin: 2px;")
      a(href="/todos/new")
        button Create New ToDo
          

    
