extends ../layout

block content
  h1= title
  p Welcome to #{title}
  h2= item.title
  h6= item._id
  p= item.desc
  a(href="/todos/#{item._id}/edit", style="")
    button Edit
  a(href="/todos/#{item._id}/remove", style="")
    button remove
